.root {
  -fx-background-color:  #121212;
  /*     -fx-background-color: grey;*/

}

/* ------------------------------------------------------------------------
/* Side Bar
/* ------------------------------------------------------------------------ */
.side_bar {
    -fx-background-color:  #2F2F2F;
}

.side_bar__divider {
    -fx-background-color:  #000000;
}

.side_bar__button {
    -fx-graphic-text-gap: 40;
    -fx-background-color:  #2F2F2F;
    -fx-alignment: center-left;
    -fx-text-fill: #FFFFFF60;
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
    -fx-font-weight: 700;
}

.side_bar__button--selected {
    -fx-graphic-text-gap: 40;
    -fx-background-color:  #BB86FC30;
    -fx-alignment: center-left;
    -fx-text-fill: #BB86FC;
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
    -fx-font-weight: 700;
}

.side_bar__button:hover {
    -fx-background-color:  #3F3F3F;
}

.side_bar__button__icon {
    -fx-translate-x: 10;
    -fx-opacity:  0.6;
}
.side_bar__button__icon--selected {
    -fx-opacity:  1;
}

.button__primary {
    -fx-background-color: #BB86FC;
    -fx-background-radius: 24;
    -fx-pref-height: 45;
    -fx-pref-width: 100;
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
    -fx-font-weight: 700;
    -fx-graphic-text-gap: 5;
}

.button__primary:hover {
    -fx-background-color: #03DAC5;
}

.button__secondary {
    -fx-background-color: #2F2F2F;
    -fx-background-radius: 24;
    -fx-border-radius: 24;
    -fx-border-color: #03DAC5;
    -fx-pref-height: 45;
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
    -fx-font-weight: 700;
    -fx-text-fill: #03DAC5;
    -fx-graphic-text-gap: 5;
}
.button__secondary:hover {
    -fx-background-color: #BB86FC20;

}

.tabs {
    -fx-background-color:  #2F2F2F;
}

.tabs__button {
    -fx-background-color:  #2F2F2F;
    -fx-text-fill: #FFFFFF60;
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
    -fx-font-weight: 700;
    -fx-graphic-text-gap: 10;
}

.tabs__button--selected {
    -fx-background-color:  #2F2F2F;
    -fx-text-fill: #BB86FC;
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
    -fx-font-weight: 700;
    -fx-graphic-text-gap: 10;

    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #BB86FC;;
}
.tabs__button:hover {
    -fx-background-color:  #3F3F3F;
}

.pane--container {
    -fx-background-color:  #2F2F2F;
    -fx-background-radius: 6;
    -fx-border-weight: 0;
     -fx-background-insets: 0 0 0 0;
}

.scroll-pane > .viewport {
    -fx-background-color: #2F2F2F;
}

.small_calendar--button {
    -fx-background-color: #FFFFFF60;
    -fx-background-radius: 15em;
    -fx-min-width: 15;
    -fx-min-height: 15;
    -fx-max-width: 15;
    -fx-max-height: 15;
}

.small_calendar--button: hover {
        -fx-background-color: #FFFFFF;
}




/* ------------------------------------------------------------------------
/* Mini calendar labels
/* ------------------------------------------------------------------------ */
/* base */
 .mini_calendar--text {
       -fx-font-family: "Roboto";
       -fx-text-fill: #FFFFFF80;
       -fx-font-size: 16;
       -fx-font-weight: 700;
       -fx-text-alignment: center;
       -fx-alignment: center;
 }

 .mini_calendar--text:hover {
     -fx-text-fill: white;
 }

.mini_calendar--other_month {
    -fx-text-fill: #FFFFFF30;
}

.mini_calendar--selected_week {
   -fx-text-fill: #BB86FC60;
}

.mini_calendar--today {
    -fx-text-fill: #03DAC5;
}

.mini_calendar--selected_day {
    -fx-text-fill: white;
    -fx-font-weight: 800;

        -fx-background-color: #BB86FC;
        -fx-background-radius: 30em;
        -fx-min-width: 30;
        -fx-min-height: 30;
        -fx-max-width: 30;
        -fx-max-height: 30;
    }
}

/* ------------------------------------------------------------------------ */





 .small_calendar_week_text {
      -fx-font-family: "Roboto";
      -fx-text-fill: #FFFFFF80;
      -fx-font-size: 12;
      -fx-font-weight: 500;
 }


 .month_display{
     -fx-font-family: "Roboto";
     -fx-text-fill: #FFFFFF80;
     -fx-font-size: 24;
     -fx-font-weight: 800;

 }




/* ------------------------------------------------------------------------
/* Week Display
/* ------------------------------------------------------------------------ */
.week_display__button {
        -fx-min-width: 40;
        -fx-min-height: 40;
        -fx-max-width: 40;
        -fx-max-height: 40;

    -fx-text-fill: #FFFFFF80;
    -fx-font-family: "Roboto";
    -fx-font-size: 11;
    -fx-font-weight: 700;

    -fx-background-color: #2F2F2F;
    -fx-background-radius: 6;
    -fx-border-color: #FFFFFF80;
    -fx-border-radius: 6;
}

.week_display__button: hover {
    -fx-background-color: #BB86FC20;
}
.week_display__button: pressed {
    -fx-background-color: #BB86FC60;
}

.week_display__button--today {
    -fx-text-fill: #03DAC5;
}

.week_display__button--selected {
        -fx-min-width: 40;
        -fx-min-height: 40;
        -fx-max-width: 40;
        -fx-max-height: 40;

    -fx-text-fill: black;
    -fx-font-family: "Roboto";
    -fx-font-size: 11;
    -fx-font-weight: 700;

    -fx-background-color: #BB86FC;
    -fx-background-radius: 6;
    -fx-border-color: #FFFFFF80;
    -fx-border-radius: 6;
}

/* ------------------------------------------------------------------------
/* General
/* ------------------------------------------------------------------------ */

.text-fill--white {
    -fx-font-family: "Roboto";
    -fx-text-fill: white;
}

.separator:horizontal .line {
    -fx-background-color: #FFFFFF20;
    -fx-pref-height: 1;
    -fx-border-color: null ;

}


.page_tittle {
    -fx-font-family: "Roboto";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20;
    -fx-font-weight: 700;
 }

 .button: pressed {
       -fx-background-color: #BB86FC60;
 }

.text--subHeading {
    -fx-font-family: "Roboto";
    -fx-text-fill: #FFFFFF80;
    -fx-font-size: 12;
    -fx-font-weight: 500;

}
 /* ------------------------------------------------------------------------
 /* day view
 /* ------------------------------------------------------------------------ */
 /* base */
 .hour_text {
     -fx-font-family: "Roboto";
     -fx-text-fill: #FFFFFF60;
     -fx-font-size: 11;

 }

 .scroll-bar {
    -fx-background-color: transparent;
 }



.increment-button, .decrement-button, .corner {
 -fx-opacity: 0;
}

.thumb {
    -fx-background-color: #FFFFFF50;
    -fx-background-radius: 50;
}

 /* ------------------------------------------------------------------------
 /* Calendar Rides display by driver


.tree-view .tree-cell {
    -fx-background-color: #2F2F2F;

    -fx-text-fill: #FFFFFF80;
    -fx-font-family: "Roboto";
    -fx-font-size: 11;
 }

.tree-view {
    -fx-background-radius: 6;
 }
 /* ------------------------------------------------------------------------ */
.tree_view--empty {
    -fx-background-color: #2F2F2F;
}

.tree_view--leaf {
    -fx-background-color: #2F2F2F;
    -fx-text-fill: #FFFFFF80;
    -fx-font-family: "Roboto";
    -fx-font-size: 11;
}

.tree_view--leaf: hover {
    -fx-text-fill: white;
}
.tree_view--leaf: pressed {
    -fx-background-color: #BB86FC60;
}
.tree_view--node {
    -fx-background-color: #2F2F2F;
    -fx-text-fill: #FFFFFF;;
    -fx-font-family: "Roboto";
    -fx-font-size: 16;
     -fx-font-weight: 700;
 }

  /* ------------------------------------------------------------------------
  /* tertiary buttons
  /* ------------------------------------------------------------------------ */
  /* base */

 .tertiary_button {
    -fx-background-color: #03DAC5;
        -fx-background-radius: 32em;
        -fx-min-width: 32;
        -fx-min-height: 32;
        -fx-max-width: 32;
        -fx-max-height: 32;
 }
  .tertiary_button:hover {
      -fx-background-color: #03ffe6;
  }

 .text--action {
    -fx-text-fill: #BB86FC;
 }


  /* ------------------------------------------------------------------------
  /* New Ride
  /* ------------------------------------------------------------------------ */
  /* base */

 .date-picker {
    -fx-background-color: #484848;
    -fx-background-insets: 0 0 0 0;
 }
.date-picker : focused{
 -fx-background-color: #484848;
 -fx-border-color: #BB86FC;
}
.date-picker--error{
 -fx-background-color: #484848;
 -fx-border-color: #CF6679;
 -fx-text-fill: #CF6679;
}
.date-picker--error:focused{
 -fx-background-color: #484848;
 -fx-border-color: #CF6679;
 -fx-text-fill: #CF6679;
}


.date-picker .arrow-button {
  -fx-background-radius:0px ;
   -fx-background-color: #2F2F2F;
}

.date-picker .arrow-button .arrow{
-fx-background-radius:0px ;
-fx-background-color: #1783CC;
}

.date-picker .arrow-button:hover .arrow{
-fx-background-radius:0px ;
-fx-background-color: #40a9ef;
 }

.date-picker > .date-picker-display-node {
    -fx-background-color: #484848;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Roboto";
    -fx-font-size: 16;
    -fx-font-weight: 700;

}

.date-picker-popup  {
    -fx-background-color: #484848;
}

.calendar-grid {
    -fx-background-color: #484848;
}


.date-picker .combo-box {
-fx-background-insets:0px ;
-fx-border-width: 0px;
  }

 .date-picker .button {
-fx-background-color: transparent;
-fx-border-color:transparent;
-fx-pref-height: 35px;
-fx-pref-width: 35px;
 }

  .date-picker .button:hover {
 -fx-border-color:transparent;
 -fx-pref-height: 35px;
 -fx-pref-width: 35px;
  }

  .date-picker .button .arrow:pressed {
  -fx-border-color:transparent;
  -fx-pref-height: 35px;
  -fx-pref-width: 35px;
   }

 .date-picker .cell {
 -fx-text-fill: #FFFFFF60;
-fx-background-color: #232323;
-fx-pref-width:20px ;
-fx-pref-height:25px ;
 }

.date-picker .cell:hover {
-fx-background-color: #1783CC;
-fx-pref-width:20px ;
-fx-pref-height:25px ;
}

.date-picker .cell:focused {
-fx-background-color:#11659e;
-fx-pref-width:20px ;
-fx-pref-height:25px ;
 }

.button--triangle {
    -fx-shape: "M150 0 L75 100 L225 100 Z";
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.3;
    -fx-background-color: #1783CC;
}
.button--triangle:hover {
    -fx-background-color: #40a9ef;
}

.text-field {
    -fx-background-color: #484848;
    -fx-text-fill: #FFFFFF;;
    -fx-font-family: "Roboto";
    -fx-font-size: 12;
    -fx-font-weight: 400;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}


.text-field--error {
 -fx-background-color: #484848;
 -fx-border-color: #CF6679;
 -fx-border-width: 2;

}


.text-field:focused {
 -fx-border-color: #BB86FC;
 }

/* ------------------------------------------------------------------------
/* toggle slider buttons
/* ------------------------------------------------------------------------ */
.toggle_slider {
    -fx-background-color: #484848;
    -fx-border-radius: 34;
    -fx-background-radius: 34;
    -fx-min-width: 80;
    -fx-max-width: 80;
    -fx-min-height: 25;
    -fx-max-height: 25;
        -fx-text-fill: #FFFFFF;;
        -fx-font-family: "Roboto";
        -fx-font-size: 12;
}

.toggle_slider:selected {
    -fx-background-color: red;
    -fx-border-radius: 34;
    -fx-background-radius: 34;
    -fx-min-width: 80;
    -fx-max-width: 80;
    -fx-min-height: 25;
    -fx-max-height: 25;
        -fx-text-fill: #FFFFFF;;
        -fx-font-family: "Roboto";
        -fx-font-size: 12;
}


.add_button {
    -fx-background-color:#2F2F2F;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 6;
    -fx-border-width: 2;

    -fx-opacity: 0.2;
}

.add_button:hover {

    -fx-opacity: 0.5;
}
